# ************************************************
# ********** operating system **********
# ************************************************

# MacOS
.DS_Store


# ************************************************
# ********** environment **********
# ************************************************
.env
local.env

# virtual environments
.venv
env/
venv/



# ************************************************
# ********** editors **********
# ************************************************

# VSCode
.vscode

# PyCharm
.idea



# ************************************************
# ********** storages **********
# ************************************************
# databases dumps
dump.sql

# sqlite
*.sqlite3
*.db



## log files
*log



# ************************************************
# ********** infrastructure **********
# ************************************************

# kubernetes configmaps
infra/configmaps.yaml


# ************************************************
# ********** python **********
# ************************************************

# byte-compiled / optimized / DLL files
__pycache__/

# unit test / coverage reports
.coverage
.coverage.*
.hypothesis/

# linters / checkers
.mypy_cache/
.ruff_cache/
