-r requirements.txt

black~=23.9
httpx~=0.25
isort~=5.12
mypy~=1.5
polyfactory~=2.9
pytest-cov~=4.1
pytest-env~=1.0
pytest-lazy-fixture~=0.6
pytest-mock~=3.11
pytest~=7.4
ruff~=0.0.291
types-passlib~=1.7
types-python-jose~=3.3
