SQLAlchemy[asyncio,mypy]>=2.0.21
aiosqlite>=0.19
alembic>=1.12
fastapi==0.103.2
greenlet>=3.0  # required by SQLAlchemy: https://docs.sqlalchemy.org/en/20/orm/extensions/asyncio.html
gunicorn>=21.2
loguru>=0.7
passlib[bcrypt]>=1.7
pydantic-settings>=2.0
pydantic[email]>=2.4
python-jose[cryptography]>=3.3
uvicorn[standard]>=0.23.2
websockets>=11.0
